.imagem-login{
    width: 100%;
}

.titulo{
    margin-top: 70px;
}
.titulo{
    
    width: 473px;
    height: 42px;
    
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    
    color: #221FA7;;
}
.form{
	
	width: 400px;
	height: calc(100% + 30px);
	

	
	
	
}
.input-container{
    margin: 40px;
	
}
.input-container span, .form p{
	display: inline-block;
	width: 100%;
	color:  #BBBBBB;
	font-size: 17px;
	font-weight: bold;
}


.input-container input[type=text]{
    margin-top: 40px;
	width: 425px;
	height: 55px;
	
}
.form .input-submit-container{
    margin: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
	
}
.form input[type=submit]{
	color: white;
	font-size: 25px;
	width: 200px;
	height: 56px;
	
	background-color: #321FA7;;
	cursor: pointer;
	
	
}
.form input[type=submit]:hover{
	background-color:  #323665;
}
